<form [formGroup]="registerForm" (ngSubmit)="register()">
    <p-card header="Register" [style]="{width: '400px'}">
        <div class="field">
            <label for="name">Name</label>
            <input type="text" pInputText formControlName="name" class="w-full" name="name"
                placeholder="Enter your name" />
            <small *ngIf="name.invalid && (name.dirty || name.touched)" class="block p-error">
                <div *ngIf="name.errors?.['required']">Name is required</div>
                <div *ngIf="name.errors?.['minlength']">Name must be at least 3 characters</div>
                <div *ngIf="name.errors?.['maxlength']">Name must have a maximum of 50 characters</div>
            </small>
        </div>
        <div class="field">
            <label for="surname">Surname</label>
            <input type="text" pInputText formControlName="surname" class="w-full" name="surname"
                placeholder="Enter your surname" />
            <small *ngIf="surname.invalid && (surname.dirty || surname.touched)" class="block p-error">
                <div *ngIf="surname.errors?.['required']">Surname is required</div>
                <div *ngIf="surname.errors?.['minlength']">Surname must be at least 3 characters</div>
                <div *ngIf="surname.errors?.['maxlength']">Surname must have a maximum of 50 characters</div>
            </small>
        </div>
        <div class="field">
            <label for="email">Email</label>
            <input type="text" pInputText formControlName="email" class="w-full" name="email"
                placeholder="Enter your email" />
            <small *ngIf="email.invalid && (email.dirty || email.touched)" class="block p-error">
                <div *ngIf="email.errors?.['required']">Email is required</div>
                <div *ngIf="email.errors?.['email']">Email should be valid</div>
            </small>
        </div>
        <div class="field">
            <label for="password">Password</label>
            <input type="password" pInputText formControlName="password" class="w-full" name="password"
                placeholder="Enter your password" />
            <small *ngIf="password.invalid && (password.dirty || password.touched)" class="block p-error">
                <div *ngIf="password.errors?.['required']">Password is required</div>
                <div *ngIf="password.errors?.['minlength']">Password must be at least 6 characters</div>
            </small>
        </div>
        <div class="field">
            <label for="confirmPassword">Confirm Password</label>
            <input type="password" pInputText formControlName="confirmPassword" class="w-full" name="confirmPassword"
                placeholder="Enter your password again" />
            <small *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)"
                class="block p-error">
                <div *ngIf="confirmPassword.errors?.['required']">Confirm Password is required</div>
                <div *ngIf="confirmPassword.errors?.['minlength']">Confirm Password must be at least 6 characters</div>
            </small>
            <small class="block p-error"
                *ngIf="registerForm.errors?.['passwordMismatch'] && confirmPassword.valid && password.valid">
                Password should match
            </small>
        </div>
        <p-button label="Register" styleClass="w-full" [disabled]="registerForm.invalid" type="submit"></p-button>
        <div class="mt-4">
            Already have an account? <a routerLink="/login">Login</a>
        </div>
    </p-card>
</form>