<form [formGroup]="addressForm" (ngSubmit)="create()">
    <p-card header="Create Address" [style]="{width: '400px'}">
        <div class="field">
            <label for="name">Title</label>
            <input type="text" pInputText formControlName="title" class="w-full" name="title"
                placeholder="Enter title of address" />
            <small *ngIf="title.invalid && (title.dirty || title.touched)" class="block p-error">
                <div *ngIf="title.errors?.['required']">Title is required</div>
                <div *ngIf="title.errors?.['minlength']">Title must be at least 3 characters</div>
                <div *ngIf="title.errors?.['maxlength']">Title must have a maximum of 50 characters</div>
            </small>
        </div>
        <div class="field">
            <label for="name">City</label>
            <input type="text" pInputText formControlName="city" class="w-full" name="city"
                placeholder="Enter city of address" />
            <small *ngIf="city.invalid && (city.dirty || city.touched)" class="block p-error">
                <div *ngIf="city.errors?.['required']">City is required</div>
                <div *ngIf="city.errors?.['minlength']">City must be at least 3 characters</div>
                <div *ngIf="city.errors?.['maxlength']">City must have a maximum of 50 characters</div>
            </small>
        </div>
        <div class="field">
            <label for="name">District</label>
            <input type="text" pInputText formControlName="district" class="w-full" name="district"
                placeholder="Enter district of address" />
            <small *ngIf="district.invalid && (district.dirty || district.touched)" class="block p-error">
                <div *ngIf="district.errors?.['required']">District is required</div>
                <div *ngIf="district.errors?.['minlength']">District must be at least 3 characters</div>
                <div *ngIf="district.errors?.['maxlength']">District must have a maximum of 50 characters</div>
            </small>
        </div>
        <div class="field">
            <label for="name">Street</label>
            <input type="text" pInputText formControlName="street" class="w-full" name="street"
                placeholder="Enter street of address" />
            <small *ngIf="street.invalid && (street.dirty || street.touched)" class="block p-error">
                <div *ngIf="street.errors?.['required']">Street is required</div>
                <div *ngIf="street.errors?.['minlength']">Street must be at least 3 characters</div>
                <div *ngIf="street.errors?.['maxlength']">Street must have a maximum of 50 characters</div>
            </small>
        </div>
        <div class="field">
            <label for="name">Address</label>
            <input type="text" pInputText formControlName="address" class="w-full" name="address"
                placeholder="Enter full address" />
            <small *ngIf="address.invalid && (address.dirty || address.touched)" class="block p-error">
                <div *ngIf="address.errors?.['required']">Address is required</div>
                <div *ngIf="address.errors?.['minlength']">Address must be at least 6 characters</div>
                <div *ngIf="address.errors?.['maxlength']">Address must have a maximum of 50 characters</div>
            </small>
        </div>
        <p-button label="Create" styleClass="w-full" [disabled]="addressForm.invalid" type="submit"></p-button>
    </p-card>
</form>