<form [formGroup]="loginForm" (ngSubmit)="login()">
    <p-card header="Login" [style]="{width: '360px'}">
        <div class="field">
            <label for="email">Email</label>
            <input type="text" pInputText formControlName="email" class="w-full" name="email"
                placeholder="Enter your email" />
            <small *ngIf="email.invalid && (email.dirty || email.touched)" class="block p-error">
                <div *ngIf="email.errors?.['required']">Email is required</div>
                <div *ngIf="email.errors?.['email']">Email should be valid</div>
            </small>
        </div>
        <div class="field">
            <label for="password">Password</label>
            <input type="password" pInputText formControlName="password" class="w-full" name="password"
                placeholder="Enter your password" />
            <small *ngIf="password.invalid && (password.dirty || password.touched)" class="block p-error">
                <div *ngIf="password.errors?.['required']">Password is required</div>
                <div *ngIf="password.errors?.['minlength']">Password must be at least 6 characters</div>
            </small>
        </div>
        <p-button label="Login" styleClass="w-full" [disabled]="loginForm.invalid" type="submit"></p-button>
        <div class="mt-4">
            Don't have an account? <a routerLink="/register">Register</a>
        </div>
    </p-card>
</form>