.card {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
}

.body-content {
    margin: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
}